  <!-- START TIMELINE -->
  <div class="container" style="margin-top: 40px;">
    <section id="atf-timeline" class="atf-section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="atf-section-title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
              <h2 class="">Our Service</h2>
            </div>
          </div><!--- END COL -->
        </div><!--- END ROW -->
        
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="accordion service-wrapper" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Terms & Conditions
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>These Terms and Conditions are in addition to any other agreements between you and GOATx  including any customer or account agreements and any other agreements that govern your use of software, products, goods, services, content, tools, and information provided by GOATx.
                      General</p>
                    <p>The GOATx website and mobile application (collectively, the “Service”) may include or make available
                        certain content (the “Content”). Content includes, without limitation: </p>
                    <ul>
                      <li>account positions, balances, transactions, confirmations, and order history; </li>
                      <li>general news and information, commentary, research reports, educational material and information and data concerning the cryptocurrency markets. </li>
                      <li>other subjects;  data1 such as quotations for transactions and/or last sale information for completed crytocurrency transactions reported in accordance with any crytocurrency regulations.</li>
                      <li>financial and investment interactive tools, such as alerts or calculators; </li>
                      <li>tax preparation, bill payment and account management tools;</li>
                      <li>company names, logos, product and service names, trade names, trademarks and services marks (collectively, “Marks”) owned by GOATx, and Marks owned by Third Party Providers (defined below). </li>
                      <li>any other information, content, services, or software. Certain Content is furnished by third parties (each, a “Third-Party Provider” and collectively, the “Third-Party Providers”). Such Content (“Third Party Content”) includes, without limitation, any information, content, service or software made available by or through social media websites, blogs, wikis, online conferences, telecasts, podcasts, and other forums (collectively, the “Forums”). Third Party Content may be available through framed areas or through hyperlinks to the Third-Party Providers’ websites.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Acceptance of Terms and Conditions
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>By using the Service and the Content, you agree to follow and be bound by these Terms and Conditions,
                      including the policies referenced herein. Customers of GOATx are granted additional levels of access to
                      the website and their relationship with GOATx is governed by additional agreements and terms of use,
                      such as the Customer Agreement.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Disclaimer and Limitations of Liability
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>The Content and the Service are provided on an “as is” and “as available” basis. To the fullest
                      extent permitted under applicable law, GOATx and the Third Party Providers expressly disclaim
                      all warranties of any kind with respect to the Content and the Service, whether express or implied,
                      including, but not limited to, the implied warranties of merchantability, fitness for a particular
                      purpose and non-infringement. Neither GOATx nor Third Party Providers guarantee the
                      accuracy, timeliness, completeness or usefulness of any Content. You agree to use the Content and
                      the Service only at your own risk.</p>
                    <p>Neither GOATx nor the Third Party Providers explicitly or implicitly endorse or approve any
                      Third Party Content. Third Party Content is provided for informational purposes only. The Content is not intended to provide financial, legal, tax or investment advice or recommendations.
                      You are solely responsible for determining whether any investment, investment strategy or related transaction is appropriate for you based on your personal investment objectives, financial circumstances and risk tolerance. You should consult your legal or tax professional regarding your specific situation.</p>
                    <p>You are solely responsible for determining whether any investment, investment strategy or related transaction is appropriate for you based on your personal investment objectives, financial circumstances and risk tolerance. You should consult your legal or tax professional regarding your specific situation.</p>
                    <p>GOATX AND THE THIRD PARTY PROVIDERS WILL NOT BE LIABLE FOR ANY
                      DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY
                      DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS,
                      REVENUE, INCOME, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF
                      GOATX OR ANY THIRD PARTY PROVIDER HAS BEEN ADVISED OF THE
                      POSSIBILITY OF SUCH DAMAGES), RESULTING FROM:</p>
                    <ul>
                      <li>THE USE OF OR THE INABILITY TO USE THE CONTENT OR THE SERVICE;</li>
                      <li>THE COST OF PROCUREMENT
                        OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA,
                        INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR
                        TRANSACTIONS ENTERED INTO, THROUGH OR FROM THE SERVICE;</li>
                      <li>ACCESS TO OR
                        ALTERATION OF YOUR ACCOUNT, TRANSMISSIONS OR DATA DUE TO YOUR
                        CONDUCT, INACTION OR NEGLIGENCE; OR</li>
                      <li>ANY OTHER MATTER RELATING TO
                        THE CONTENT OR THE SERVICE.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    No Recommendations or Investment Advice
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>GOATx provides self-directed investors and does not make recommendations or offer investment advice of any kind. You are solely responsible for evaluating the merits and risks associated with the use of any Content provided through the Service before making any decisions based on such Content. You agree not to hold GOATx or any Third-Party Provider liable for any possible claim for damages arising from any decision you make based on the Content or other information made available to you through the Service or any Third-Party Provider websites. Past performance data should not be construed as indicative of future results.
                      They shall not be considered a solicitation to any person in any jurisdiction where such solicitation would be illegal.</p>
                    <p>Content posted on the Service is published as of its stated date or, if no date is stated, the date of first
                      posting. Neither GOATx nor the Third-Party Providers have undertaken any duty to update any such
                      information.</p>
                    <p>GOATx does not prepare, edit, or endorse Third Party Content. GOATx does not guarantee the
                      accuracy, timeliness, completeness or usefulness of Third Party Content, and is not responsible or liable for any content, advertising, products, or other materials on or available from third party sites.
                      You will not hold GOATx and/or any Third-Party Provider liable in any way for (a) any inaccuracy of, error or delay in, or omission of the Content; or (b) any loss or damage arising from or occasioned by i) any error or delay in the transmission of such Content; ii) interruption in any such Content due either to any negligent act or omission by any party to any “force majeure” (e.g., flood, extraordinary weather conditions, earthquake or other act of God, fire, war, insurrection, riot, labor dispute, accident, action of government, communications or power failure, equipment or software malfunction), or iii) to any other cause beyond the reasonable control of GOATx and/or Third-Party Provider, or iv) non-performance.
                      Any price quotes may be delayed 20 minutes or longer, according to the rules and regulations applicable to exchanges and Third Party Providers. Neither GOATx nor the Third-Party Providers make any representations, warranties or other guarantees as to the accuracy or timeliness of any price quotes. Neither GOATxnor the Third-Party Providers make any representations, warranties or other guarantees as to the present or future value or suitability of any sale, trade or other transaction involving any particular trade or any other investment.
                      Content is provided exclusively for personal and noncommercial access and use. No part of the Service or Content may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or distributed in any way (including “mirroring”) to any other computer, server, web site or other medium for publication or distribution or for any commercial enterprise, without GOATx’s express prior written consent.
                      You acknowledge that GOATxi s the sole owner of GOATx Marks and that other Marks are the property of their respective owners. You agree that you will not use any Marks for any purpose without the prior express written consent of the respective owners.
                      Termination; Modification</p>
                    <p>You agree that, without notice, GOATx may terminate these Terms and Conditions, or suspend your
                      access to the Service or the Content, with or without cause at any time and effective immediately. These
                      Terms and Conditions will terminate immediately without notice from GOATx if you, in GOATx’s
                      sole discretion, fail to comply with any provision of these Terms and Conditions. GOATx shall not be
                      liable to you or any third party for the termination or suspension of the Service or the Content, or any
                      claims related to such termination or suspension.</p>
                    <p>GOATx and/or the Third-Party Providers may discontinue or modify the Content, or any portion thereof,
                      at any time. You release and agree to indemnify and hold harmless GOATx, and the Third-Party
                      Providers, for any loss or damages arising from or relating to such discontinuation or modification.
                      Communications</p>
                    <p>By using the Service or the Content, you consent to any form of recording and retention of any
                      communication, information and data exchanged between you and GOATx or its representatives or
                      agents. All communications made at or through the Forums are public. Neither GOATx nor the Third-Party Providers screen, review, approve or endorse any Third Party Content available on or through the Forums.
                      Reliance on any Third Party Content available on or through the Forums is at your own risk. When
                      discussing a particular cryptocurrency in the Forums, you agree to reveal any ownership interest in such company. Without limitation, you agree not to do any of the following:</p>
                    <ul>
                      <li>upload, post, transmit or otherwise make available any Content that is unlawful, harmful,
                        threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of
                        another's privacy (including, but not limited to, any address, email, phone number, or any other
                        contact information without the written consent of the owner of such information), hateful, or
                        racially, ethnically or otherwise objectionable;</li>
                      <li>harm minors in any way;</li>
                      <li>impersonate any person or entity, including, but not limited to, (i) a GOATx or Third-Party
                        Provider manager, employee, agent, or representative or (ii) forum leader, guide or host;</li>
                      <li>falsely state or otherwise misrepresent your affiliation with any person or entity;</li>
                      <li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any material;</li>
                      <li>upload, post or otherwise transmit any material that you do not have a right to transmit under any
                        law or under contractual or fiduciary relationships (such as inside information, proprietary and 
                        confidential information learned or disclosed as part of employment relationships or under
                        nondisclosure agreements);</li>
                      <li>upload, post or otherwise transmit any material that infringes any patent, trademark, trade secret,
                        copyright, rights of privacy or publicity, or other proprietary rights of any party;</li>
                      <li>upload, post, or transmit unsolicited commercial email or “SPAM,” including, but not limited to,
                        unethical marketing, advertising, or any other practice that is in any way connected with SPAM,
                        such as:
                        <ul>
                          <li>sending mass email to recipients who haven't requested email from you or with a
                            fake return address;</li>
                          <li>promoting a site with inappropriate links, titles, or descriptions; or</li>
                          <li>promoting any site by posting multiple submissions in forums that are identical;</li>
                        </ul>
                      </li>
                      <li>upload, post or otherwise transmit any material that contains software viruses or any other
                        computer code, files or programs designed to interrupt, destroy or limit the functionality of any
                        computer software or hardware or telecommunications equipment;</li>
                      <li>interfere with or disrupt the Service or servers or networks connected to the Service, or disobey
                        any requirements, procedures, policies or regulations of networks connected to the Service;</li>
                      <li>intentionally or unintentionally violate any applicable local, state, national or international law,
                        including, but not limited to, regulations governing Crytocurrency 
                        any rules of any other crytocurrency exchange, and any regulations having
                        the force of law;</li>
                      <li>“stalk” or otherwise harass another;</li>
                      <li>collect or store personal data about other users of the Service;</li>
                      <li>promote or provide instructional information about illegal activities, promote physical harm or
                        injury against any group or individual, or promote any act of cruelty;</li>
                      <li>promote, offer for sale or sell any security or item, good or service that i) violates any applicable
                        federal, state, or local law or regulation, ii) you do not have full power and authority under all
                        relevant laws and regulations to offer and sell, including all necessary licenses and authorizations,
                        or iii) GOATx or the Third-Party Providers determine, in their sole discretion, is inappropriate
                        for sale;</li>
                      <li>use the Forums as a forwarding service to another website; or</li>
                      <li>access or otherwise use the Forums in any unlawful manner, for any unlawful purpose or in
                        violation of these Terms and Conditions.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    External Links
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>GOATx and/or the Third-Party Providers may provide links to other websites or resources. Because
                      neither GOATx or the Third-Party Providers have any control over such sites and resources, you
                      acknowledge and agree that neither GOATx nor the Third Party Providers are responsible for the
                      availability of such external sites or resources. GOATx and the Third Party Providers do not endorse
                      and are not liable for any content, advertising, products, or other materials on or available through such
                      sites or resources. You further acknowledge and agree that neither GOATx nor the Third Party
                      Providers shall be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to
                      be caused by or in connection with use of or reliance on any such content, goods or services available on or
                      through any such site or resource.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Applicable Policies
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>In addition to these Terms and Conditions, your access to and use of the Content and the Service is subject
                      to GOATx’s then-current policies relating to the Content and the Service, including, without limitation,
                      the GOATx Privacy Policy available on the Service. You agree to be bound by these policies and all
                      other GOATx policies applicable to the access and use of the Content and the Service.</p>
                    <p>By using the Service, you are consenting to have your personal data transferred to and processed by
                      GOATx and its affiliates. As part of providing you the Service, GOATx may need to provide you
                      with certain communications, such as service announcements and administrative messages. These
                      communications are considered part of the Service, which you may not be able to opt-out from receiving.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Indemnification
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>You will indemnify and hold harmless GOATx and the Third Party Providers, and the officers, directors,
                      agents, partners, employees, licensors, distributors, and representatives of GOATx and the Third Party
                      Providers, from and against any and all claims, demands, actions, causes of action, suits, proceedings,
                      losses, damages, costs, and expenses, including reasonable attorneys' fees, arising from or relating to your access and/or use of, or interaction with the Content (including, without limitation, Third Party Content), or any act, error, or omission of your use of your account or any user of your account, in connection therewith, including, but not limited to, matters relating to incorrect, incomplete, or misleading information; libel; invasion of privacy; infringement of a copyright, trade name, trademark, service mark, or other intellectual property; any defective product or any injury or damage to person or property caused by any products sold or otherwise distributed through or in connection with the Service; or violation of any applicable law.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Revisions
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>GOATx may at any time revise these Terms and Conditions by updating this document. You agree to be
                      bound by subsequent revisions and agree to review these Terms and Conditions periodically for changes.</p>
                    <p>The most updated version of this document will be available for your review under the “GOATx Terms
                      and Conditions” link that appears on the GOATx website and mobile application.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Applicable Law and Venue; Severability
                  </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>You agree that these Terms and Conditions shall be governed by and interpreted in accordance with the
                      laws of the State of Wyoming, without giving effect to principles of conflicts of law. Any legal action or
                      proceeding arising under these Terms and Conditions will be brought exclusively in courts located in Wyoming, and you hereby irrevocably consent to the personal jurisdiction and venue therein. If any provision of these Terms and Conditions is deemed unlawful, void or for any reason unenforceable, then that provision will be deemed severable from these Terms and Conditions and will not affect the validity and enforceability of the remaining provisions.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END TIMELINE -->	
  </div>
