  <!-- START FAQ -->
  <div class="container" style="margin-top: 40px;">
    <div id="faq" class="atf-faq-area atf-section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="atf-section-title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
              <h2 class="">Frequently Ask Questions</h2>
            </div>
          </div><!--- END COL -->
        </div><!--- END ROW -->
        
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-12">
            <div class="atf-pro-about-content">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab"
                    href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="true">
                    Ico
                  </a>
                  <a class="nav-item nav-link" id="nav-skills-tab" data-toggle="tab" href="#nav-skills"
                    role="tab" aria-controls="nav-skills" aria-selected="false">
                    Token Sell
                  </a>
                  <a class="nav-item nav-link" id="nav-interview-tab" data-toggle="tab"
                    href="#nav-interview" role="tab"
                    aria-selected="false">
                    Legal
                  </a>
                  <a class="nav-item nav-link" id="nav-award-tab" data-toggle="tab" href="#nav-award"
                    role="tab" aria-selected="false">
                    Currency
                  </a>
                </div>
              </nav><!--- END NAV -->
              
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-about" role="tabpanel"
                  aria-labelledby="nav-about-tab">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">What is the cry currency?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                        <br/>
                        <h3 class="mb-3">What is the cry currency?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                      </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">Why use the cry currency?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>	<br/>
                        <h3 class="mb-3">Why use the cry currency?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                      </div>
                    </div>
                  </div>
                </div><!--- END TAB -->
                
                <div class="tab-pane fade" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">What is the Token Sell?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                        <br/>
                        <h3 class="mb-3">What is the Token Sell?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                      </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">Why use the Token Sell?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>	<br/>
                        <h3 class="mb-3">Why use the Token Sell?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                      </div>
                    </div>
                  </div>
                </div><!--- END TAB -->
                
                <div class="tab-pane fade" id="nav-interview" role="tabpanel"
                  aria-labelledby="nav-interview-tab">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">What is the cry Legal?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                        <br/>
                        <h3 class="mb-3">What is the cry Legal?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                      </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">Why use the cry General?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>	<br/>
                        <h3 class="mb-3">Why use the cry General?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                      </div>
                    </div>
                  </div>
                </div><!--- END TAB -->
  
                <div class="tab-pane fade" id="nav-award" role="tabpanel" aria-labelledby="nav-award-tab">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">What is the cry currency?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                        <br/>
                        <h3 class="mb-3">What is the cry currency?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                      </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">Why use the cry currency?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>	<br/>
                        <h3 class="mb-3">Why use the cry currency?</h3>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Clicking generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures. </p>
                      </div>
                    </div>
                  </div>
                </div><!--- END TAB -->
              </div><!--- END TAB CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END FAQ -->
  </div>
