<div class="atf-footer-boottom text-center">
    <div class="row">
      <div class="col-md-12">
        <p>&copy;Copyright - GOATx PTE Ltd.</p>
      </div><!--- END COL -->
    </div><!--- END ROW -->
  </div>
  <!-- FOOTER SECTION START-->
  <footer class="atf-footer-area">
    <div class="container">
      <div class="atf-footer-top atf-section-padding">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12 atf-footer-link">
            <div class="atf-footer-box wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
              <h5>About GOATx</h5>
              <p>160 Robinson Rd.<br>
                #14-40<br>
                Singapore Business Federation Center<br>
SGP (068914)<br></p>
              <div class="atf-footer-social-icon">
                <a href="#" class="icon"> <i class="fab fa-facebook"></i> 
                </a>
                <a href="#" class="icon"> <i class="fab fa-twitter"></i> 
                </a>
                <a href="#" class="icon"> <i class="fab fa-dribbble"></i> 
                </a>
                <a href="#" class="icon"> <i class="fab fa-behance"></i> 
                </a>
              </div>
            </div>
          </div><!--- END COL -->
          <div class="col-lg-3 col-md-6 col-12 atf-footer-link pl-lg-3 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
            <h5>Menu</h5>
            <ul class="atf-list-menu">
              <li> <a [routerLink]="['/token']"><i class="fas fa-caret-right mr-2"></i>GOATx Token</a></li>
              <li> <a [routerLink]="['/team']"><i class="fas fa-caret-right mr-2"></i>Our Team</a></li>
              <li> <a [routerLink]="['/about']"><i class="fas fa-caret-right mr-2"></i>About Us</a></li>
              <li> <a [routerLink]="['/help']"><i class="fas fa-caret-right mr-2"></i>Need Help</a></li>

            </ul>
          </div><!--- END COL -->
          <div class="col-lg-3 col-md-6 col-12 atf-footer-link wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
            <h5>Legal</h5>
            <ul class="atf-list-menu">
              <li><a [routerLink]="['/getstarted']"><i class="fas fa-caret-right mr-2"></i>Get Started</a></li>
              <li><a [routerLink]="['/service']"><i class="fas fa-caret-right mr-2"></i>Our Service</a></li>
              <li><a [routerLink]="['/privacy']"><i class="fas fa-caret-right mr-2"></i>Privacy policy</a></li>
              <li><a [routerLink]="['/contact']"><i class="fas fa-caret-right mr-2"></i>Contact Us</a></li>
            </ul>
          </div><!--- END COL -->
          <div class="col-lg-3 col-md-6 col-12 atf-footer-link atf-footer-subscribe atf-main-btn wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
            <h5>Newsletter</h5>
            <form class="" id="mc-form">
              <input type="email" name="email" id="email" placeholder="Email Address">
              <button type="submit" id="subscribe-button" class="btn purple atf-themes-btn"> <span>Subscribe</span></button>
                <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                <br>
                <label class="atf-subscription-label" for="email"></label>
            </form>
          </div><!--- END COL -->
        </div><!--- END ROW -->
      </div>
    </div><!--- END CONTAINER -->
  </footer>