<section id="home" class="atf-hero-area atf-home-area atf-align-items-details" style="background-image: url(assets/img/bg/2.jpg);  background-size:cover; background-position: center center;">
    <div class="container">
      <div class="row atf-content-details align-items-center">
        <div class="col-lg-6 col-md-6 col-12 atf-single-details text-lg-left">
          <h2 class="mb-0 d-block d-lg-block text-white">Greatest of All<br>Token eXchanges</h2>
          <p class="text-white">Running in Restricted Mode [Beta 0.1.16].</p>
          <div class="atf-main-btn mt-5">
            <a [routerLink]="['trade']" class="purple atf-themes-btn"><span>Trade</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="download" class="atf-section-padding">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-12">
        <div class="atf-download-img text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
             <img src="assets/img/screenshot/2.png" alt="">
        </div> 
      </div>
      <div class="col-lg-7 col-md-6 col-12 mx-auto my-auto">
        <div class="atf-about-content mb-3">
          <div class="atf-section-title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
            <h2 class="#">GOATx Mobile App</h2>
          </div>
          <p class="pr-lg-5">Manage and trade your cryptocurrency assets and NFTs using the GOATx mobile app.  COMING JULY 15, 2021.</p>						
          <ul class="atf-single-download ml-2 mt-4 ">
            <li><i class="icon fas fa-check-circle mr-3"></i>View your balances</li>
            <li><i class="icon fas fa-check-circle mr-3"></i>Trade your assets</li>
            <li><i class="icon fas fa-check-circle mr-3"></i>Buy, Sell, and Trade NFTs</li>
            <li><i class="icon fas fa-check-circle mr-3"></i>Get market notifications</li>
          </ul>
          <div class="atf-download-btn mt-5 ml-2"> 
            <a href="#" class="purple atf-themes-btn text-black"><span>Coming Soon</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  



	


