  <!-- START FAQ -->
  <div class="container" style="margin-top: 40px;">
    <div id="faq" class="atf-faq-area atf-section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="atf-section-title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
              <h2 class="">Connect your Wallet</h2>
            </div>
          </div><!--- END COL -->
        </div><!--- END ROW -->
        
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-12">
            <div class="atf-pro-about-content">
           
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-about" role="tabpanel"
                  aria-labelledby="nav-about-tab">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">Requirements</h3>
                        <p>All browser applications connect to the blockchain using a browser extention that controls your wallet and keys. 
                            This ensures your transactions are safe and only you can access your tokens or NFTs.  Your private keys are stored
                        inside your wallet and never sent over the internet. </p>
                       </div>
                    </div>                
                    <div class="col-xl-6 col-lg-6 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h3 class="mb-3">Installing Metamask</h3>
                        <p>The most popular wallet is Metamask.</p>
                        <p>You can download and install Metamask here:  <a href="https://metamask.io">https://metamask.io</a></p>
                      </div>
                    </div>
                  </div>
                </div><!--- END TAB -->
                
                <div class="tab-pane fade show active" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab" style="margin-top:20px;">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-12">
                      <div class="atf-pro-about-inner pr-lg-3">
                        <h2 class="mb-3">Part 1: Installing Metamask</h2>                          
                        <h3 class="mb-3">Step 1: Download Metamask</h3>
                        <p>You can download and install Metamask here:  <a href="https://metamask.io">https://metamask.io</a></p>                        
                         <br/>
                        <h3 class="mb-3">Step 2: Click "Add to Chrome"</h3>
                        <p>Click “Add to Chrome” to Install MetaMask as Google Chrome extension.</p><br/>
                        <h3 class="mb-3">Step 3: Click "Add Extension"</h3>
                        <p> Click “Add Extension” to confirm and MetaMask will be added
                            You can see that MetaMask is added by the little fox logo that shows up on the top right corner.</p><br/>                        
                        <h2 class="mb-3">Part 2: Creating a Wallet</h2>
                        <h3 class="mb-3">Step 1: Click on the Metamask Logo</h3>                                                         
                        <h3 class="mb-3">Step 2: Read and agree to the Metamask Terms and Conditions</h3>
                        <h3 class="mb-3">Step 3: Click “Create a new vault”, or “Create new wallet”. This depends on your browser.</h3>    
                        <h3 class="mb-3">Step 4: Enter a strong password and click “OK”</h3>
                        <h3 class="mb-3">Step 5: Metamask will now show you your seed. It is very important that you copy and store those 12 worlds, without them you cannot restore your wallet.</h3>                                                                                                              
                        <h3 class="mb-3">Step 6: Connecting to Binance Smart Chain.</h3>                                                                                                              
                    </div>
                    </div>
                  </div>
                </div><!--- END TAB -->
              </div><!--- END TAB CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END FAQ -->
  </div>
