<div class="row justify-content-center">
    <div class="col-lg-12">          
      <nav class="navbar navbar-navs navbar-expend navbar-expand-md" id="m-top" style="background-color: #000040;">
        <div class="container">
          <a class="navbar-brand" href="index.html">CLIENT MAINTENANCE</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">          
              <li class="menu-nav"><a class="nav-link page-scroll btn atf-themes-btn ml-4 atf-quote purple" [routerLink]="['/broker-home']"><span>Home</span></a></li> 
               <li class="menu-nav"><a class="nav-link page-scroll btn atf-themes-btn ml-4 atf-quote purple" [routerLink]="['/orders']"><span>Orders</span></a></li> 
              <li class="menu-nav"><a class="nav-link page-scroll btn atf-themes-btn ml-4 atf-quote purple" [routerLink]="['/new-order']"><span>Create Order</span></a></li>
              <li class="menu-nav"><a class="nav-link page-scroll btn atf-themes-btn ml-4 atf-quote purple" [routerLink]="['/customer-list']"><span>Add Client</span></a></li>
            </ul>
          </div>
        </div> <!--- END CONTAINER -->
      </nav>            
    </div>
  </div>