<div class="" style="margin-top: 40px;">
  <!-- CONTACT SECTION START-->
  <section id="contact" class="atf-contact-area atf-section-padding">
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="atf-section-title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
            <h2>Getting Started</h2>
          </div>
        </div><!--- END COL -->
      </div><!--- END ROW -->
      
      <!-- <div class="row">
        <div class="col-xl-8 col-lg-8 offset-lg-2">
          
          <form id="contact-form" class="form atf-contact-form"  action="assets/php/mail.php" method="POST">
            <div class="atf-main-contact">
                  <div class="row">
                    <div class="col-md-12">
                      <p>The GOATX DeFi exchange is designed to be easy to use and make collecting BEP-20 tokens on the Binance Smart Chain easy.
                      </p>
                      </div> 
                  </div>                                                                                               
            </div>
          </form><br/>
        </div>
      </div> -->
      <!--- END ROW -->
    </div><!--- END CONTAINER -->
  </section> 
    </div>
