<div class="container"  style="min-height:900px; margin-top:100px"> <!-- 1 -->
        <section id="contact" class="atf-contact-area atf-section-padding" style="background-color: #ffffff; padding-top:40px; padding-bottom: 0px; margin-bottom:20px"> <!-- 2 -->
            <app-broker-nav></app-broker-nav>       
        </section> 
        <form class="form">
        <section id="contact" class="atf-contact-area" style="background-color: #ffffff;">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <div class="atf-section-title text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <h2>Order Entry</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="row">
                        <h3>Client Information</h3>
                    </div>
              <div class="row" style="margin-top: 20px;">
                <div class="col-xl-6 col-lg-6">
                    <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                <label>First Name:</label>
                                <input type="text" class="form-control">                        
                      </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                      <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                  <label>Last Name:</label>
                                  <input type="text" class="form-control">                        
                              </div>
                    </div>
                  </div>                                
            </div>                    
              <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                <label>First Name:</label>
                                <input type="text" class="form-control">                        
                      </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                      <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                  <label>Last Name:</label>
                                  <input type="text" class="form-control">                        
                              </div>
                    </div>
                  </div>                                
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                <label>Address:</label>
                                <input type="text" class="form-control">                        
                      </div>
                    </div>
                </div>                              
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                <label>City:</label>
                                <input type="text" class="form-control">                        
                      </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                  </div>                                 
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                <label>State:</label>
                                <input type="text" class="form-control">                        
                      </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="row contact-information">
                        <div class="form-group" style="margin-bottom: 0px;">
                          <label>Zip:</label>
                          <input type="text" class="form-control">                        
                </div>
              </div>                    
                  </div>                                  
            </div>            
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                <label>Email:</label>
                                <input type="text" class="form-control">                        
                      </div>
                    </div>
                </div>                             
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="row contact-information">
                              <div class="form-group" style="margin-bottom: 0px;">
                                <label>Phone:</label>
                                <input type="text" class="form-control">                        
                      </div>
                    </div>
                </div>                             
            </div>   
            </div>
            <div class="col-xl-1 col-lg-1"></div>            
            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <h3>Order Information</h3>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xl-2 col-lg-2">
                        <div class="row contact-information">
                                  <div class="form-group" style="margin-bottom: 0px;">
                                    <label>Token:</label>
                                    <input type="text" class="form-control" value="GOATX">                        
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="row contact-information">
                                  <div class="form-group" style="margin-bottom: 0px;">
                                    <label>Price:</label>
                                    <input type="text" class="form-control" value="5.00">                        
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="row contact-information">
                                  <div class="form-group" style="margin-bottom: 0px;">
                                    <label>Quantity:</label>
                                    <input type="text" class="form-control">                        
                          </div>
                        </div>
                    </div>                       
                    <div class="col-xl-2 col-lg-2">
                        <div class="row contact-information">
                                  <div class="form-group" style="margin-bottom: 0px;">
                                    <label>Total:</label>
                                    <input type="text" class="form-control">                        
                          </div>
                        </div>
                    </div>   
                    <div class="col-xl-4 col-lg-4">

                      </div>                                
                </div>   
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xl-4 col-lg-4">
                        <div class="row contact-information">
                                  <div class="form-group" style="margin-bottom: 0px;">
                                    <label>Payment Method:</label>
                                    <select class="form-control">
                                        <option value="ACH">ACH</option>
                                        <option value="WIRE">WIRE</option> 
                                        <option value="BNB">NBN</option>                                                                               
                                    </select>                     
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="row contact-information">
                                  <div class="form-group" style="margin-bottom: 0px;">
                                    <label>Price:</label>
                                    <input type="text" class="form-control" value="5.00">                        
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6">

                    </div>                                                      
                </div>  
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xl-8 col-lg-8">
                        <div class="row contact-information">
                                  <div class="form-group" style="margin-bottom: 0px;">
                                    <label>Order Notes:</label>
                                    <textarea class="form-control" style="height:180px;">                                                                             
                                    </textarea>                     
                          </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">

                    </div>                                                      
                </div>    
                <div class="row">
                    <div class="col-xl-8 col-lg-8 offset-lg-2">
                      <div class="address_area">
                        <div class="row contact-information">
                          <div class="col-lg-4 col-md-6 col-12">
                            <div class="atf-contact-btn atf-download-btn text-center" >
                                <a [routerLink]="['/broker-home']">
                                <button type="submit" class="btn btn-primary" style="margin-top: 20px;"><span>Save Order</span></button>
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>                                                            
            </div>
            </div>
          </section>
        </form>     
</div>    
 