<section id="p_cryptocurrency" class="atf-section-padding" style="min-height:900px;">
    <div class="container"  style="min-height:900px;">
  <section id="contact" class="atf-contact-area atf-section-padding" style="background-color: #ffffff; padding-top:40px;">
    <div class="container"  style="min-height:900px;">
        <div class="row justify-content-center">
            <div class="col-lg-12">          
              <nav class="navbar navbar-navs navbar-expend navbar-expand-md" id="m-top" style="background-color: #000040;">
                <div class="container">
                  <a class="navbar-brand" href="index.html">ASSETS</a>
                  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarDefault">
                    <ul class="navbar-nav">     
                      <li class="menu-nav"><a class="nav-link page-scroll" [routerLink]="['/assets']">Complete View</a></li>
                      <li class="menu-nav"><a class="nav-link page-scroll" [routerLink]="['/portfolio']">Portfolio</a></li>
                      <li class="menu-nav"><a class="nav-link page-scroll" [routerLink]="['/watchlist']">Watch List</a></li>     
                      <li class="menu-nav"><a class="nav-link page-scroll" [routerLink]="['/staking']">Staking</a></li>
                      <li class="menu-nav"><a class="nav-link page-scroll active" [routerLink]="['/orders']">Orders</a></li>
                      <li class="menu-nav"><a class="nav-link page-scroll" [routerLink]="['/transactions']">Transactions</a></li>       
                      <li class="menu-nav"><a class="nav-link page-scroll" [routerLink]="['/research']">Research Tokens</a></li>                                                                                            
                    </ul>
                  </div>
                </div> 
              </nav>            
            </div>
          </div>    
          <h3 style="margin-top:30px">Orders</h3>                 
    </div>
  </section> 
  </div>
  </section>
