<section id="p_cryptocurrency" class="atf-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="atf-section-title wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
            <h2 class="text-white">Swap your Tokens</h2>
          </div>
        </div>
      </div>
  <section id="contact" class="atf-contact-area atf-section-padding" style="background-color: #ffffff;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="atf-section-title text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
            <h2>Broker/Dealer Login</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-8 offset-lg-2">
          <div class="address_area">
            <div class="row contact-information">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="contact-details wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="padding-bottom:0px;"> 
                    <div class="form-group" style="margin-bottom: 0px;">
                        <label>Username:</label>
                        <input type="text" class="form-control">                        
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 offset-lg-2">
          <div class="address_area">
            <div class="row contact-information">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="contact-details wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0"> 
                    <div class="form-group" style="margin-bottom: 0px;">
                        <label>Password:</label><input type="text" class="form-control">      
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 offset-lg-2">
          <div class="address_area">
            <div class="row contact-information">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="atf-contact-btn atf-download-btn text-center" >
                    <a [routerLink]="['/broker-home']">
                    <button type="submit" class="btn purple atf-themes-btn"><span>Login</span></button>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="contact-details wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                 </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="contact-details wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    </div>
  </section>
  <!-- CONTACT SECTION END-->   
   
      <div class="atf-stock-market-price">
        <div class="atf-market-rate">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
              <div class="atf-cryp-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="atf-cryp-main-wrapper">
                  <h6 class="atf-cryp-title"><i class="icon fas fa-sort-up mr-1"></i> BTC</h6>
                  <div class="atf-cryp-amount">$40,103.80 (-1.92%)</div>
                  <div class="atf-cryp-current-info range-down">
                    <span class="atf-cryp-rate">Cap : $751,069,792,204</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="atf-cryp-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="atf-cryp-main-wrapper">
                  <h6 class="atf-cryp-title"><i class="icon fas fa-sort-up mr-1"></i> LTC</h6>
                  <div class="atf-cryp-amount">$175.01 (+0.97%)</div>
                  <div class="atf-cryp-current-info range-down">
                    <span class="atf-cryp-rate">Cap : $11,627,766,560</span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
              <div class="atf-cryp-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                <div class="atf-cryp-main-wrapper">
                  <h6 class="atf-cryp-title"><i class="icon fas fa-sort-up mr-1"></i> ETH</h6>
                  <div class="atf-cryp-amount">$2,547.72 (+5.83%)</div>
                  <div class="atf-cryp-current-info range-up">
                    <span class="atf-cryp-rate">Cap : $297,890,259,711</span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
              <div class="atf-cryp-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
                <div class="atf-cryp-main-wrapper">
                  <h6 class="atf-cryp-title"><i class="icon fas fa-sort-up mr-1"></i> USDT</h6>
                  <div class="atf-cryp-amount">$1.00 (+0%)</div>
                  <div class="atf-cryp-current-info range-up">
                    <span class="atf-cryp-rate">Cap : $62,604,557,016</span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
              <div class="atf-cryp-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0">
                <div class="atf-cryp-main-wrapper">
                  <h6 class="atf-cryp-title"><i class="icon icon1 fas fa-sort-down mr-1"></i> BNB</h6>
                  <div class="atf-cryp-amount">$365.07 (-5.78%)</div>
                  <div class="atf-cryp-current-info range-down">
                    <span class="atf-cryp-rate">Cap : $56,298,541,667</span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
              <div class="atf-cryp-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s" data-wow-offset="0">
                <div class="atf-cryp-main-wrapper">
                  <h6 class="atf-cryp-title"><i class="icon icon1 fas fa-sort-down mr-1"></i> ADA</h6>
                  <div class="atf-cryp-amount">$1.55 (-1.53)</div>
                  <div class="atf-cryp-current-info range-up">
                    <span class="atf-cryp-rate">Cap : $49,732,145,507
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
              <div class="atf-cryp-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s" data-wow-offset="0">
                <div class="atf-cryp-main-wrapper">
                  <h6 class="atf-cryp-title"><i class="icon icon1 fas fa-sort-down mr-1"></i> DOGE</h6>
                  <div class="atf-cryp-amount">$0.3181 (+3.85%)</div>
                  <div class="atf-cryp-current-info range-down">
                    <span class="atf-cryp-rate">Cap : $41,572,992,924</span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
              <div class="atf-cryp-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s" data-wow-offset="0">
                <div class="atf-cryp-main-wrapper">
                  <h6 class="atf-cryp-title"><i class="icon icon1 fas fa-sort-down mr-1"></i> DOT</h6>
                  <div class="atf-cryp-amount">$23.85 (3.98%)</div>
                  <div class="atf-cryp-current-info range-down">
                    <span class="atf-cryp-rate">Cap : $22,970,922,997</span>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div> <!-- /.stock-market-price -->
      </div> <!-- /.stock-market-price -->
    </div>
  </section>

